<h2>RedisCache</h2>
<br />
<br />
<form method="post">
    Command Execute:<input type="text" name="txtCommand">
    <br /><br />
    String Name:<input type="text" name="txtString">
    String Set:<textarea name="txtStringSet"></textarea>
    <br /><br />
    String Get:<input type="text" name="txtStringGet">
    <br /><br />
    Value:<b>@ViewBag.Result</b>
    <br /><br />
    <input type="submit" value="Submit" />
</form>